* {
    margin: 0;
    padding: 0;
}

.description {
    background-color: maroon;
    color: white;
    height: 200vh;
}

.glyphicon {
    font-size: 30px;
    color: maroon;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.navbar-brand {
    font-size: 30px;
}

#myNavbar ul li a {
    color: maroon;
}

.container {
    background-color: grey;
}